fastapi
uvicorn[standard]
python-multipart
google-generativeai
langchain
langchain-google-genai
langchain-core
huggingface_hub
pydantic
python-dotenv
Pillow
opencv-python-headless
requests
transformers>=4.41.2
torch>=2.1.2
torchaudio>=2.1.2
torchvision>=0.16.2
soundfile>=0.12.1
